.DS_Store
node_modules
./public
.tmp
.idea
.log
dist
docs
npm-debug.log
.nyc_output
coverage
cassettes
yarn-error.log
.compiled

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
yarn*
.bundle
!.travis.yml

# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
.bundle
_site
vendor

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# npm dependencies
node_modules
package-lock.json

!.husky
!.commitlintrc.json
!.versionrc.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
